<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">grooveChordinator</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/search" id="search">Search</a></li>
        <li><a href="/saved" id="saved">Saved</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-5">
        <div class="text-center" id="songTitle"><h1>Song</h1></div>
    </div>
  </div>
</div> {{!-- .container-fluid --}}

<div class="col-md-6 col-md-offset-3" id="song">

  <div id="result">
    <div class="chordline">
  <span></span><span style="margin-right:25px;"><strong><span>[</span>Bm<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:25px;"><strong><span>[</span>F#<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>A<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>E<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>G<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>D<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:25px;"><strong><span>[</span>Em<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-left:25px;"><strong><span>[</span>F#<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>
<div class="chordline">
  <span></span><span style="margin-right:25px;"><strong><span>[</span>Bm<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:25px;"><strong><span>[</span>F#<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>A<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>E<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>G<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:15px;"><strong><span>[</span>D<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-right:25px;"><strong><span>[</span>Em<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="margin-left:25px;"><strong><span>[</span>F#<span>]</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Bm<span>]</span></strong>On a dark desert highway,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>cool wind in my hair</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>A<span>]</span></strong>Warm smell of colitas</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>E<span>]</span></strong>rising up through the air</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>Up ahead in the distance,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>D<span>]</span></strong>I saw a shimmering light</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Em<span>]</span></strong>My head grew heavy and my sight grew dim</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>I had to stop for the night</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Bm<span>]</span></strong>There she stood in the doorway;</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>I heard the mission bell</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>A<span>]</span></strong>And I was thinking to myself</span>
</div>
<div class="chordline">
  <span>this could be </span><span><strong><span>[</span>E<span>]</span></strong>heaven or this could be hell</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>Then she lit up a candle,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>D<span>]</span></strong>and she showed me the way</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Em<span>]</span></strong>There were voices down the corridor,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>I thought I heard them say</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>Welcome to the Hotel Cali</span><span><strong><span>[</span>D<span>]</span></strong>fornia.</span>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span>Such a </span><span><strong><span>[</span>F#7<span>]</span></strong>lovely place, such a </span><span><strong><span>[</span>Bm7<span>]</span></strong>lovely face</span>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>Plenty of room at the Hotel Cali</span><span><strong><span>[</span>D<span>]</span></strong>fornia</span>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span>Any </span><span><strong><span>[</span>Em<span>]</span></strong>time of year you can </span><span><strong><span>[</span>F#<span>]</span></strong>find it here</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Bm<span>]</span></strong>Her mind is Tiffany twisted,</span>
</div>
<div class="chordline">
  <span>she </span><span><strong><span>[</span>F#<span>]</span></strong>got the Mercedes bends</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>A<span>]</span></strong>She got a lot of pretty, pretty boys</span>
</div>
<div class="chordline">
  <span>that </span><span><strong><span>[</span>E<span>]</span></strong>she calls friends</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>How they dance in the </span><span><strong><span>[</span>D<span>]</span></strong>courtyard, sweet summer sweat</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Em<span>]</span></strong>Some dance to remember,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>some dance to forget</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Bm<span>]</span></strong>So I called up the captain;</span>
</div>
<div class="chordline">
  <span>"</span><span><strong><span>[</span>F#<span>]</span></strong>Please bring me my wine."</span>
</div>
<div class="chordline">
  <span>"</span><span><strong><span>[</span>A<span>]</span></strong>We haven't had that spirit here</span>
</div>
<div class="chordline">
  <span>since </span><span><strong><span>[</span>E<span>]</span></strong>nineteen sixty-nine"</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>And still those voices are calling from </span><span><strong><span>[</span>D<span>]</span></strong>far away</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Em<span>]</span></strong>Wake you up in the middle of the night,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>just to hear them say</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>Welcome to the Hotel Cali</span><span><strong><span>[</span>D<span>]</span></strong>fornia.</span>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span>Such a </span><span><strong><span>[</span>F#7<span>]</span></strong>lovely place, such a </span><span><strong><span>[</span>Bm7<span>]</span></strong>lovely face</span>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span>They </span><span><strong><span>[</span>G<span>]</span></strong>livin' it up at the Hotel Cali</span><span><strong><span>[</span>D<span>]</span></strong>fornia</span>
</div>
<div class="chordline" style="margin-left: 30px;">
  <span>What a </span><span><strong><span>[</span>Em<span>]</span></strong>nice surprise bring your </span><span><strong><span>[</span>F#<span>]</span></strong>alibis</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Bm<span>]</span></strong>Mirrors on the ceiling,</span>
</div>
<div class="chordline">
  <span>the pink </span><span><strong><span>[</span>F#<span>]</span></strong>champagne on ice</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>A<span>]</span></strong>And she said "We are all just prisoners here,</span>
</div>
<div class="chordline">
  <span>of </span><span><strong><span>[</span>E<span>]</span></strong>our own device"</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>G<span>]</span></strong>And in the master's chambers,</span>
</div>
<div class="chordline">
  <span>they </span><span><strong><span>[</span>D<span>]</span></strong>gathered for the feast</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Em<span>]</span></strong>They stab it with their steely knives,</span>
</div>
<div class="chordline">
  <span>but they </span><span><strong><span>[</span>F#<span>]</span></strong>just can't kill the beast</span>
</div>
<div class="chordline">
  <br>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>Bm<span>]</span></strong>Last thing I remember,</span>
</div>
<div class="chordline">
  <span>I was </span><span><strong><span>[</span>F#<span>]</span></strong>running for the door</span>
</div>
<div class="chordline">
  <span>I </span><span><strong><span>[</span>A<span>]</span></strong>had to find the passage back</span>
</div>
<div class="chordline">
  <span>to the place I was be</span><span><strong><span>[</span>E<span>]</span></strong>fore</span>
</div>
<div class="chordline">
  <span>"</span><span><strong><span>[</span>G<span>]</span></strong>Relax" said the nightman,</span>
</div>
<div class="chordline">
  <span>"We are </span><span><strong><span>[</span>D<span>]</span></strong>programmed to receive"</span>
</div>
<div class="chordline">
  <span>"</span><span><strong><span>[</span>Em<span>]</span></strong>You can check out anytime you like,</span>
</div>
<div class="chordline">
  <span></span><span><strong><span>[</span>F#<span>]</span></strong>but you can never leave"</span>
</div>
</div>
</div>

  <div><br></div> {{!-- making space --}}

</div> {{!-- .container-fluid --}}
