<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">grooveChordinator</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/search" id="search">Search</a></li>
        <li><a href="/saved" id="saved">Songbook</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <div class="text-center"><h1>Search Results</h1></div>
    </div>
  </div>
</div> {{!-- .container-fluid --}}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div id="search">
        <form role="form">
          <div class="form-group">
            <label for="search">Search For: </label>
            <input type="text" class="form-control" id="search-term">
          </div>
          <button type="submit" class="btn btn-default" id="run-search"> Search</button>
        </form>
        <div><br></div>
        

      <div><br></div> {{!-- making space --}}
    </div>
  </div>
  <div class="row">

    <div class="col-xs-8 col-xs-offset-2">

      <div class="container-fluid" id="inner">

      <div id="results"> </div>

        <ul>
          {{#each objects}}
            <div class="row text-center">
                <li>
                  <p data-id={{this.id}}>{{this.title}}</p>
                  <a href={{this.permalink}}>Link</a>
                  <button data-id={{this.id}} class="saved">Save</button>
                </li>
            </div>
          {{/each}}
        </ul>

      </div> {{!-- .container --}}

    </div> {{!-- .col-xs-10 col-xs-offset-1 --}}

  </div> {{!-- .row --}}    

</div> {{!-- .container-fluid --}}
